h1 {
  color: red;
  background-color: blue;
  }
   
	 img {
    margin: auto;
    width: 30%;
    border:3px solid #73AD21;
    padding: 10px;

}  
body{
	color:red;
	background:blue;
}
	 
      
  }
  h2 {
	  color: blue;
  }
 p {
	 color: red;
 }
  
